@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#colors {
  width: 100%;
  border-collapse: collapse;
}

#colors th,
#colors td {
  vertical-align: top;
}

#colors th {
  height: 30px;
}

#colors td {
}

#colors td span {
  display: block;
  height: 20px;
}
